@charset "utf-8";
@import "~bulma/bulma";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#scanner {
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
    margin: 0px auto;
}

#scanner-wrapper {
    border: 1px solid silver;
    position: relative;
}

#scanner-wrapper h1 {
    font-weight: bold;
    font-size: 96px;
}

#scanner-wrapper.camera-inactive h1 {
    text-align: center;
    display: block;
    margin: auto 0px auto 0px;
}

#scanner-wrapper.camera-active h1 {
    font-weight: normal;
    line-height: 1;
    color: white;
    top: 0px;
    right: 10px;
    position: absolute;
}