@charset "utf-8";
@import "~bulma/bulma";

#finish-line-camera {
    max-width: 30%;
    margin: 0 auto;
    display: none;
}

#finish-line-camera.active {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#scanner {
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
    margin: 0px auto;
}

#scanner-wrapper {
    border: 1px solid silver;
    position: relative;
}

#scanner-wrapper h1 {
    font-weight: bold;
    font-size: 96px;
}

#scanner-wrapper.camera-inactive h1 {
    text-align: center;
    display: block;
    margin: auto 0px auto 0px;
}

#scanner-wrapper.camera-active h1 {
    font-weight: normal;
    line-height: 1;
    color: white;
    top: 0px;
    right: 10px;
    position: absolute;
}

#login-form {
    max-width: 800px;
    margin: 100px auto 0px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.fab {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.fab:hover {
    transform: scale(1.1);
}